.frm-container{
    border: none;
}

input[type=search] {
  border: none;
  border-bottom: 2px solid #ced4da;
  border-radius: 0;
}

input[type=search]:focus {
  border-color: #337AFF;
  box-shadow: none;
}

.srch-btn{
 border-radius: 5px;
}
